body {
  background-color: white;
  font-family: 'Mazzard', sans-serif;
}

.list {
  list-style: none;
  display: list-item;
}

.link {
  text-decoration: none;
  line-height: 1.17;
}
.nav {
}

:root {
  --brand-color-red: #ff4b23;
  --brand-color-blue: #78a6ff;
  --text-color: #242a3f;
}
/* Fonts */

@font-face {
  font-family: 'Mazzard M';
  src: url('/fonts.sprite/MazzardM-Regular.eot');
  src: local('Mazzard M Regular'), local('MazzardM-Regular'),
    url('/fonts.sprite/MazzardM-Regular.eot?#iefix') format('embedded-opentype'),
    url('/fonts.sprite/MazzardM-Regular.woff2') format('woff2'),
    url('/fonts.sprite/MazzardM-Regular.woff') format('woff'),
    url('/fonts.sprite/MazzardM-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Mazzard H';
  src: url('/fonts.sprite/MazzardH-Bold.otf');
  src: local('Mazzard H Bold'), local('MazzardH-Bold'),
    url('/fonts.sprite/MazzardH-Bold.eot?#iefix') format('embedded-opentype'),
    url('/fonts.sprite/MazzardH-Bold.woff2') format('woff2'),
    url('/fonts.sprite/MazzardH-Bold.woff') format('woff'),
    url('/fonts.sprite/MazzardH-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: 'Mazzard H';
  src: url('/fonts.sprite/MazzardH-ExtraLight.eot');
  src: local('Mazzard H ExtraLight'), local('MazzardH-ExtraLight'),
    url('/fonts.sprite/MazzardH-ExtraLight.eot?#iefix')
      format('embedded-opentype'),
    url('/fonts.sprite/MazzardH-ExtraLight.woff2') format('woff2'),
    url('/fonts.sprite/MazzardH-ExtraLight.woff') format('woff'),
    url('/fonts.sprite/MazzardH-ExtraLight.ttf') format('truetype');
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: 'Mazzard M';
  src: url('/fonts.sprite/MazzardM-SemiBold.eot');
  src: local('Mazzard M SemiBold'), local('MazzardM-SemiBold'),
    url('/fonts.sprite/MazzardM-SemiBold.eot?#iefix')
      format('embedded-opentype'),
    url('/fonts.sprite/MazzardM-SemiBold.woff2') format('woff2'),
    url('/fonts.sprite/MazzardM-SemiBold.woff') format('woff'),
    url('/fonts.sprite/MazzardM-SemiBold.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'Mazzard M';
  src: url('/fonts.sprite/MazzardM-Light.eot');
  src: local('Mazzard M Light'), local('MazzardM-Light'),
    url('/fonts.sprite/MazzardM-Light.eot?#iefix') format('embedded-opentype'),
    url('/fonts.sprite/MazzardM-Light.woff2') format('woff2'),
    url('/fonts.sprite/MazzardM-Light.woff') format('woff'),
    url('/fonts.sprite/MazzardM-Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Mazzard H';
  src: url('/fonts.sprite/MazzardH-BoldItalic.eot');
  src: local('Mazzard H Bold Italic'), local('MazzardH-BoldItalic'),
    url('/fonts.sprite/MazzardH-BoldItalic.eot?#iefix')
      format('embedded-opentype'),
    url('/fonts.sprite/MazzardH-BoldItalic.woff2') format('woff2'),
    url('/fonts.sprite/MazzardH-BoldItalic.woff') format('woff'),
    url('/fonts.sprite/MazzardH-BoldItalic.ttf') format('truetype');
  font-weight: bold;
  font-style: italic;
}

/* Stylisation basic settings */

*,
*::before,
*::after {
  box-sizing: border-box;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  padding: 0%;
  margin: 0%;
}

li,
ul,
ol {
  margin: 0%;
  padding-left: 0%;
  padding-right: 0%;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.container {
  width: 1216px;
  padding: 0 0;
  margin: 0 auto;
}

/* Header */
.header-section {
  border-bottom: 1px solid #ffc6ba;
}
.header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header-nav {
  display: flex;
}
.logo-link {
  display: flex;
  align-items: center;
  margin-right: 708px;
  font-family: 'Mazzard';
  font-size: 20px;
  font-weight: 400;
  color: var(--text-color);
  letter-spacing: 1.3px;
  font-family: 'Mazzard M', sans-serif;
  font-weight: normal;
  font-style: normal;
}
.logo-icon {
  fill: var(--brand-color-red);
}
.nav-list {
  display: flex;
  align-items: center;
  gap: 75px;
}
.nav-list-item {
}
.nav-list-link {
  display: block;
  color: var(--text-color);
  font-size: 20px;
  font-family: 'Mazzard M', sans-serif;
  font-weight: 300;
  font-style: normal;
  padding-top: 24px;
  padding-bottom: 24px;
}

/* Hero block */
.hero-section {
}

.hero-container {
  padding-top: 235px;
  padding-bottom: 357px;
  padding-left: 113px;
  padding-right: 113px;
}
.hero-title {
  width: 568px;
  color: var(--brand-color-red);
  font-family: 'Mazzard H';
  font-size: 35px;
  font-weight: bold;
  font-style: normal;
  line-height: normal;
  margin-bottom: 17px;
  letter-spacing: 0.1px;
}
.result-span {
  color: #78a6ff;
}
.hero-description {
  width: 236px;
  color: var(--text-color);
  font-family: 'Mazzard H';
  font-size: 20px;
  font-weight: 200;
  font-style: normal;
  line-height: normal;
  letter-spacing: 0.1px;
}
.description-span {
  color: #3174f6;
}
.hero-element-1 {
}
.hero-element-2 {
}

/* Who we are block */
.whoweare-section {
}
.whoweare-container {
  padding-left: 113px;
  padding-right: 113px;
  padding-top: 84px;
  display: flexbox;
  align-items: center;
  justify-content: center;
  margin-bottom: 137px;
}
.whoweare-title {
  margin-left: 215px;
  margin-bottom: 84px;
  color: var(--text-color);
  font-family: 'Mazzard H';
  font-size: 35px;
  font-style: normal;
  font-weight: bold;
  line-height: normal;
  text-transform: uppercase;
}

.who-span {
  color: var(--brand-color-red);
}
.whoweare-div {
  display: flex;
  margin: 0 0;
  align-items: center;
}

.whoweare-div-text {
  display: flex;
  gap: 31px;
  flex-direction: column;
}
.whoweare-p-1 {
  width: 440px;
  font-family: 'Mazzard M';
  font-style: normal;
  font-weight: normal;
  color: var(--text-color);
  font-size: 16px;
}
.whoweare-p-1-span {
  color: var(--brand-color-red);
}
.whoweare-p-2 {
  width: 369px;
  font-family: 'Mazzard M';
  font-style: normal;
  font-weight: normal;
  color: var(--text-color);
  font-size: 16px;
}
.whoweare-p-3 {
  width: 369px;
  font-family: 'Mazzard M';
  font-style: normal;
  font-weight: normal;
  color: var(--text-color);
  font-size: 16px;
}
.whoweare-element-3 {
  display: block;
  margin-right: 41px;
}

.whoweare-p-3-span {
  color: var(--brand-color-blue);
}

/* What we do block */

.whatwedo-section {
}

.whatwedo-container {
  padding: 124px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  align-items: center;
}
.whatwedo-title {
  align-items: center;
  justify-content: center;
  color: var(--text-color);
  font-family: 'Mazzard H';
  font-size: 35px;
  font-style: normal;
  font-weight: bold;
  line-height: normal;
  text-transform: uppercase;
  margin-bottom: 34px;
}

.dot {
  color: var(--brand-color-red);
}

.wedo {
  color: var(--brand-color-blue);
}

.whatwedo-carousel {
  display: flex;
  flex-direction: row;
  gap: 45px;
  margin-bottom: 45px;
}
.card {
  display: flex;
  width: 500px;
  height: 350px;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  border-radius: 100px;
}
.whatwedo-card-1 {
  background: #759eed40;
  padding: 100px 100px;
}
.card-1-title {
  color: #fb4b25;
  font-family: 'Mazzard M';
  font-size: 30px;
  font-style: normal;
  font-weight: bold;
  line-height: normal;
}

.whatwedo-card-2 {
  background: #fb4b25;
  padding: 85px 142px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}
.card-2-title {
  color: #fff;
  font-family: 'Mazzard M';
  font-size: 30px;
  font-style: normal;
  font-weight: bold;
  line-height: 57.6px; /* 192% */
}
.card-2-list {
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.card-2-list-item {
  color: #fff;
  font-family: 'Mazzard M';
  font-size: 18px;
  font-style: normal;
  font-weight: normal;
  line-height: normal;
}
.whatwedo-card-3 {
  border-radius: 100px;
  background: #2f407a;
  padding: 100px 80px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center;
}
.card-3-title {
  color: var(--brand-color-red);
  font-family: 'Mazzard M';
  font-size: 30px;
  font-style: normal;
  font-weight: bold;
  line-height: 57.6px; /* 192% */
}
.clicker {
  display: flex;
  flex-direction: row;
  gap: 12px;
  margin-bottom: 51px;
}

.round {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: var(--brand-color-red);
}

/* Button */
.whatwedo-btn {
  border: 3px solid;
  border-image-slice: 1;
  border-image-source: linear-gradient(
    to right,
    var(--brand-color-blue),
    var(--brand-color-red)
  );
}
.btn {
  padding: 16px 30px 10px 30px;
  color: var(--brand-color-blue);
  background-color: transparent;
  text-align: center;
  font-family: 'Mazzard M';
  font-size: 14px;
  font-style: normal;
  font-weight: bold;
}

/* Tech block */
.whatwedo-section {
}
.container {
}
.whatwedo-container {
}
.whatwedo-title {
}
.btn-div {
}
.btn {
}
.whatwedo-card {
}
.card-1-title {
}
.card-2-title {
}
.card-2-list {
}
.card-2-list-item {
}
.card-3-title {
}
.whatwedo-element {
}
.tech-section {
}
.tech-container {
}
.tech-title {
}
.tech-div-1 {
}
.tech-div-1-list {
}
.tech-div-1-list-item {
}
.tech-div-2 {
}
.tech-div-2-list {
}
.tech-div-2-list-item {
}
.tech-element-1 {
}
.tech-element-2 {
}
.tech-element-3 {
}

/* Advantages block */

.advntg-section {
}
.container {
}
.advntg-container {
}
.advntg-title {
}
.advntg-1 {
}
.advntg-1-title {
}
.advntg-1-p {
}
.advntg-2 {
}
.advntg-2-title {
}
.advntg-2-p {
}
.advntg-2-list {
}
.advntg-2-list-item {
}
.advntg-3 {
}
.advntg-3-title {
}
.advntg-3-p {
}
.advntg-btn {
}

/* How we work block */
.howwework-section {
}
.container {
}
.howwework-container {
}
.howwework-title {
}
.howwework-list {
}
.howwework-list-item {
}
.first-step-content {
}
.first-step-content-title {
}
.first-step-content-list {
}
.first-step-content-list-item {
}
.howwework-element-1 {
}
.howwework-element-2 {
}
.howwework-number {
}

/* Principles block */
.principles-section {
}
.container {
}
.principles-container {
}
.principles-title {
}
.principle-1 {
}
.principle-1-title {
}
.principle-1-image {
}
.principle-2 {
}
.principle-2-title {
}
.principle-2-image {
}
.principle-3 {
}
.principle-3-title {
}
.principle-3-image {
}
.principle-4 {
}
.principle-4-title {
}
.principle-4-image {
}
.principle-5 {
}
.principle-5-title {
}
.principle-5-image {
}
.principle-6 {
}
.principle-6-title {
}
.principle-6-image {
}

/* Testimonials block */
.testimonials-container {
}
.testimonials-section {
}
.test-element-1 {
}
.test-title {
}
.test-div-client {
}
.test-div-quote {
}
.test-quote-element {
}
.test-quote-text {
}

/* contacts */
.contacts-section {
}
.container {
}
.contacts-container {
}
.intencio-mail {
}
.email {
}
.contacts-title {
}
.btn {
}
.contacts-element {
}
.contacts-ps-text {
}

/* Footer */
.footer-section {
}
.footer-div {
}
.footer-text {
}
.footer-sm-list {
}
.footer-sm-item {
}
